# pvc_AbayK.yaml - Persistent Volume Claim for PostgreSQL
# Author: AbayK
# Description: Storage for PostgreSQL database

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-pvc
  namespace: default
  labels:
    app: todo-postgres
    author: AbayK
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: standard
